@import "./mixins.scss";

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartModal {
    @include flexCol;
    width: 300px;
    height: 80vh;
    max-height: 90vh;
    padding-bottom: 50px;

    @include respond(md) {
        width: 600px;
    }

    @include respond(xl) {
        width: 996px;
    }
}

.cartHeading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.cartItems {
    @include flexCol;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.cartAmount {
    @include flexBetween;
    color: #ababab;
}

.cartList {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
    margin-inline: 1rem;
    margin-top: 1rem;
    @include respond(md) {
        margin-inline: 1, 5rem;
    }
}

.cartTotalContainer {
    margin-top: 1rem;
}

.cartTotal {
    @include flexBetween;
    padding-inline: 1.5rem;
    margin-bottom: 2rem;
}

.cartButtonContainer {
    gap: 12px;
    padding-inline: 1.5rem;
    @include flexCol;
    @include respond(md) {
        flex-direction: row;
    }
    @include respond(lg) {
        gap: 40px;
    }
}

.cartButton {
    width: 240px;
}

.cartInfo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #ababab;
}
