@import "./mixins.scss";

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartModal {
    @include flexCol;
    width: 300px;
    height: 80vh;
    max-height: 90vh;
    padding-bottom: 50px;

    @include respond(md) {
        width: 600px;
    }

    @include respond(xl) {
        width: 996px;
    }
}

.cartHeading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.cartItems {
    @include flexCol;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.cartAmount {
    @include flexBetween;
    color: #ababab;
}

.cartList {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
    margin-inline: 1rem;
    margin-top: 1rem;
    @include respond(md) {
        margin-inline: 1, 5rem;
    }
}

.cartTotalContainer {
    margin-top: 1rem;
}

.cartTotal {
    @include flexBetween;
    padding-inline: 1.5rem;
    margin-bottom: 2rem;
}

.cartButtonContainer {
    gap: 12px;
    padding-inline: 1.5rem;
    @include flexCol;
    @include respond(md) {
        flex-direction: row;
    }
    @include respond(lg) {
        gap: 40px;
    }
}

.cartButton {
    width: 240px;
}

.cartButtonFilled {
  background-color: #FFD95A;
  &:hover {
    background-color: darken(#FFD95A, 10%);
    border-color: darken(#FFD95A, 10%);
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
}

.cartInfo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #ababab;
}

.cartItem {
    display: grid;
    gap: 8px;
    grid-template-areas:
        "img"
        "info"
        "price";
    @media (max-width: 768px) {
        grid-template-areas:
            "img info"
            "price price";
        grid-template-columns: 1fr 2fr;
    }
    @media (min-width: 768px) {
        .cart-item {
            gap: 16px;
            grid-template-columns: 180px 2fr;
            grid-template-areas:
                "img info"
                "img price";
        }
    }
}

.cartItemImage {
    grid-area: img;
}

.cartItemData {
    grid-area: info;
}

.cartItemrice {
    grid-area: price;
}
