@use 'react-responsive-tools' as *;

@mixin section-wrapper {
	margin-bottom: 32px;

	@include for-md {
		margin-bottom: 40px;
	}

	@include for-lg {
		margin-bottom: 60px;
	}
}

@mixin section-view-all {
	color: #000000 !important;
	font-weight: 400;
	font-size: 16px;
	border-bottom: 2px solid #000000 !important;
	padding-bottom: 2px;

	&:hover {
		text-decoration: underline;
	}
}

@mixin section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

@mixin section-title {
	font-size: 24px;
	font-weight: 600;
	padding: 8px 8px 8px 16px;
	background-color: #FFF7D4;
	border-radius: 0 20px 20px 20px;

	@include for-md {
		font-size: 32px;
		padding: 8px 16px 8px 24px;
	}
}

@mixin section-slider {
	margin-bottom: 20px;

	@include for-md {
		margin-bottom: 0px;
	}
}

@mixin section-slider-item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}