@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}


.slick-arrow.slick-prev::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 24px;
  background-image: url(../src/assets/left.svg);
  background-size: cover;
}

.slick-arrow.slick-next::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 24px;
  background-image: url(../src/assets/right.svg);
  background-size: cover;
}
