.filtersCheckBox__wrapper {
	display: block;
	position: relative;
	padding: 0.875rem 0 0.875rem 3.5rem;
	cursor: pointer;
}
.filtersCheckBox__wrapper_input {
	appearance: none;
	position: absolute;
	top: 0.9375rem;
	left: 0.9375rem;
	margin: 0;
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 2px;
	border: 2px solid #767676;
	cursor: pointer;
}

.filtersCheckBox__wrapper_input:checked {
	background-color: #ffd95a;
	border-color: #ffd95a;
}

.filtersCheckBox__wrapper_input:checked::before {
	content: url('../../../../Icons/СheckMark.svg');
	position: absolute;
	top: -4px;
	left: 1px;
	background-size: contain;
}

.filtersCheckBox__wrapper_text {
	font-family: Montserrat;
	font-size: 1rem;
	font-weight: 500;
	text-align: justified;
	color: #767676;
}

.filtersCheckBox__wrapper_text-checked {
	color: #000000;
}
