.PriceRangePicker__title {
	font-family: Montserrat;
	font-size: 1.125rem;
	font-weight: 500;
	color: #000000;
	padding: 1rem;
}

.PriceRangePicker__slider {
	width: 94%;
	height: 2px;
	background-color: #ababab;
	margin: 1.5rem 1rem;
}

.PriceRangePicker__slider .track-1 {
	background-color: #ffd95a;
	height: 2px;
	z-index: 2;
}

.PriceRangePicker__slider .thumb {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #ffd95a;
	top: -9px;
}

.PriceRangePicker__inputContainer {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
}

.PriceRangePicker__inputContainer_horizontalLine {
	width: 100%;
	height: 2px;
	background-color: #ababab;
}

.PriceRangePicker__inputContainer_inputMin,
.PriceRangePicker__inputContainer_inputMax {
	width: 78px;
	padding: 12px 21px 12px 8px;
	border-radius: 12px;
	border: 1px solid #ababab;
	position: relative;
}

.PriceRangePicker__inputContainer label:first-of-type::after,
.PriceRangePicker__inputContainer label:last-of-type::after {
	content: attr(for);
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	top: 165px;

	color: #767676;
}
.PriceRangePicker__inputContainer label:first-of-type::after {
	left: 18px;
}
.PriceRangePicker__inputContainer label:last-of-type::after {
	right: 18px;
}
.PriceRangePicker__inputContainer_inputMin:focus,
.PriceRangePicker__inputContainer_inputMax:focus {
	outline: none;
}

@media screen and (min-width: 1024px) {
	.PriceRangePicker__slider {
		width: auto;
	}
}
