.dropDownFiltersMenu__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #767676;
	padding: 0.875rem 0.75rem;
	font-family: Montserrat;
	font-size: 1rem;
	font-weight: 500;
	width: 17.625rem;
}
.dropDownFiltersMenu__btn_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropDownFiltersMenu__btn > img {
	padding: 0 1.125rem;
}

.dropDownFiltersMenu__list {
	border-bottom: 1px solid #e9e9e98a;
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transform: translateY(-5%);
	transition: transform 150ms ease-in, opacity 50ms ease-in;
	position: absolute;
	top: -100%;
}
.dropDownFiltersMenu-open {
	opacity: 1;
	transform: translateY(0);
	position: relative;
}

@media screen and (min-width: 1024px) {
	.dropDownFiltersMenu__btn > img {
		padding: 0;
	}

	.dropDownFiltersMenu__btn {
		width: 100%;
	}
}
